<div class="search-bar">
  <div
    class="search-bar-input"
    appOutsideClick
    (handleEvent)="showDropdown = false"
  >
    <app-search-autocomplete
      (onFocus)="showDropdown = true"
      (valueChange)="handleInputValueChange($event)"
      [value]="inputValue"
    />
    @if (showDropdown) {
      <div class="search-bar-input-dropdown">
        <h6 class="search-bar-input-dropdown-title">
          {{ inputValue ? 'Symbols' : 'Recent search' }}
        </h6>
        <ul class="search-bar-input-dropdown-list">
          @if (inputValue) {
            @if (possibleSymbols$ | async; as stockSymbols) {
              @for (
                stockSymbol of stockSymbols | stockSymbolFilter: inputValue;
                track stockSymbol.id
              ) {
                <li
                  class="search-bar-input-dropdown-list-item"
                  (click)="handleValueSelect(stockSymbol.id)"
                >
                  {{ stockSymbol.name }}
                </li>
              }
            }
          } @else {
            @if (recentSearchData.length) {
              @for (searchData of recentSearchData; track searchData) {
                <li
                  class="search-bar-input-dropdown-list-item"
                  (click)="handleValueSelect(searchData.id)"
                >
                  {{ searchData.name }}
                </li>
              }
            }
          }
        </ul>
      </div>
    }
  </div>
  <button mat-flat-button (click)="handleAddSymbol()">+ Add symbol</button>
</div>
