.search-bar {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;

  &-input {
    display: flex;
    flex-direction: column;
    position: relative;

    &-dropdown {
      position: absolute;
      top: 52px;
      background-color: #191c1c;
      min-width: 360px;
      max-height: 350px;
      border: 1px solid var(--text-color);
      border-radius: 5px;
      padding: 8px;
      overflow: hidden;
      overflow-y: auto;
      z-index: 100;

      &-title {
        color: var(--text-color);
        font-size: 16px !important;
        border-bottom: 1px solid rgba(190, 201, 200, 0.2);
      }

      &-list {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        &-item {
          color: var(--text-color);
          font-size: 14px;
          cursor: pointer;
          margin-bottom: 6px;

          &:hover {
            opacity: 0.8;
          }
        }

        &:empty {
          &::before {
            content: 'No data found';
            color: var(--text-color);
            font-size: 14px;
          }
        }
      }
    }
  }
}
